alias ddrive='cd /Volumes/dd/github'

#system cmd
alias c='clear'
alias coffee='caffeinate -d'
alias reload='source ~/.bash_profile'
alias desk='cd ~/Desktop'
alias ip='ipconfig getifaddr en0'

# Easier navigation: .., ..., ...., .....
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

#place photon in dfu without buttons
alias dfu='x=`compgen -f -- "/dev/tty.usbmodem"`;if [ -z "$x" ]; then echo "No USB device found"; else eval $(stty -f $x 14400); fi'

#particle CLI
alias p='particle'
alias pbi='particle serial inspect'
alias pc='particle compile'
alias pce='particle compile electron'
alias pci='particle config identify'
alias pcp='particle compile photon'
alias pf='particle flash'
alias pcf='particle function call'
alias pfu='particle flash --usb'
alias pi='particle identify'
alias pl='particle list'
alias plo='particle list online'
alias ppub='particle publish'
alias psetup='particle setup'
alias psub='particle subscribe'
alias psi='particle serial identify'
alias psm='particle subscribe mine'
alias psw='particle serial wifi'
alias pu='particle update'
alias pg='particle get'
alias pwc='particle webhook create'
alias pwl='particle webhook list'
alias pwr='particle webhook delete'

#git
alias g='git'
alias ga='git add'
alias gaa='git add .'
alias gb='git branch'
alias gbn='git checkout -b'
alias gcheck='git checkout'
alias gc='git commit -s -S'
alias gd='git diff'
alias gl='git log --show-signature'
alias gpull='git pull'
alias gpush='git push'
alias gr='git rebase -i'
alias gs='git status'

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# untar
alias untar='tar xvf'

#arm-none-eabi-gdb
alias gdb='arm-none-eabi-gdb'

#make
alias m='make'
