alias ddrive='cd /Volumes/dd/github'

# system cmd
alias c='clear'
alias kopi='caffeinate -d'
alias d='docker'
alias reload='source ~/.bash_profile'
alias desk='cd ~/Desktop'
alias ip='ipconfig getifaddr en0'

# easier navigation: .., ..., ...., .....
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# mac native resize
alias resize_p='sips --resampleHeight 600'
alias resize_l='sips --resampleWidth 1024'

#place photon in dfu without buttons
alias dfu='x=`compgen -f -- "/dev/tty.usbmodem"`;if [ -z "$x" ]; then echo "No USB device found"; else eval $(stty -f $x 14400); fi'

#particle CLI
alias p='particle'
alias pbi='particle serial inspect'
alias pc='particle compile'
alias pce='particle compile electron'
alias pci='particle config identify'
alias pcp='particle compile photon'
alias pda='particle device add'
alias pdr='particle device rename'
alias pf='particle flash'
alias pcf='particle function call'
alias pfu='particle flash --usb'
alias pi='particle identify'
alias pl='particle list'
alias pliba='particle library add'
alias plibinit='particle library init'
alias plibs='particle library search'
alias plo='particle list online'
alias ppub='particle publish'
alias psetup='particle setup'
alias psub='particle subscribe'
alias psi='particle serial identify'
alias psm='particle subscribe mine'
alias psw='particle serial wifi'
alias pu='particle update'
alias pg='particle get'
alias pwc='particle webhook create'
alias pwl='particle webhook list'
alias pwr='particle webhook delete'

#docker
alias di='docker images'
alias dps='docker ps'
alias dpsa='docker ps -a'
alias drm='docker rm'
alias drmall='docker rm $(docker ps -aq)'
alias drmi='docker rmi'
alias ds='docker stop'
alias dstats='docker stats'

#docker-machine
alias dm='docker-machine'

#git
alias g='git'
alias ga='git add'
alias gaa='git add .'
alias gb='git branch'
alias gbn='git checkout -b'
alias gcheck='git checkout'
alias gc='git commit -s -S'
alias gclone='git clone'
alias gd='git diff'
alias gl='git log --show-signature'
alias gm='git merge'
alias gpull='git pull'
alias gpush='git push'
alias gr='git rebase -i'
alias gs='git status'

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# untar
alias untar='tar xvf'

#arm-none-eabi-gdb
alias gdb='arm-none-eabi-gdb'

#make
alias m='make'

#firebase
alias fb='firebase'
alias fbd='firebase deploy'
